# Prometheus configuration (templated)
global:
  scrape_interval: {{ prometheus_scrape_interval }}
  evaluation_interval: 15s

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:{{ prometheus_port }}']

{% if prometheus_ec2_sd_enabled %}
  - job_name: 'ec2'
    ec2_sd_configs:
      - region: {{ aws_region }}
        port: {{ node_exporter_port }}
    relabel_configs:
      - source_labels: [__meta_ec2_tag_Name]
        regex: '.*-asg'
        action: keep
{% endif %}
