[Unit]
Description=Alertmanager
Wants=network-online.target
After=network-online.target

[Service]
User={{ alertmanager_user }}
Group={{ alertmanager_group }}
Type=simple
ExecStart={{ alertmanager_current_dir }}/alertmanager --config.file={{ alertmanager_config_dir }}/alertmanager.yml --storage.path={{ alertmanager_data_dir }}

[Install]
WantedBy=multi-user.target
