[paths]
data = {{ grafana_efs_mount_point }}
logs = /var/log/grafana
plugins = {{ grafana_efs_mount_point }}/plugins
provisioning = /etc/grafana/provisioning

[server]
http_addr = 0.0.0.0
http_port = {{ grafana_port }}

[security]
admin_user = {{ grafana_admin_user }}
admin_password = {{ grafana_admin_password }}