[Unit]
Description=Node Exporter
Wants=network-online.target
After=network-online.target

[Service]
User={{ node_exporter_user }}
Group={{ node_exporter_group }}
Type=simple
ExecStart={{ node_exporter_current_dir }}/node_exporter --web.listen-address=0.0.0.0:{{ node_exporter_port }}

[Install]
WantedBy=multi-user.target
